.el-menu{
  border-radius: 2px;
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  background-color: #eef1f6;
}

.app-wrapper .sidebar-container {
  -webkit-transition: width 0.28s ease-out;
  transition: width 0.28s ease-out;
  width: 180px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow-y: auto;
}

.el-menu-item, .el-submenu__title{
  height: 56px;
  line-height: 56px;
  font-size: 14px;
  color: #48576a;
  padding: 0 20px;
  cursor: pointer;
  position: relative;
  transition: border-color .3s,background-color .3s,color .3s;
  box-sizing: border-box;
  white-space: nowrap;
  &:hover{
    background-color: #4d5680;
    color: #ffffff;
  }
}

